@import '../../common/colors.scss';

.headerWrapper {
    background-color: $secondary-color;
    height: 72px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (max-width: 767px) {
        justify-content: center;
       
    }
}

.logoArea {
    color: $font-primary;
    font-size: 20px;
    font-weight: 600;
}

.userIcon, .userIcon img {
    height: 38px;
    width: 38px;
}

.search-form-area input[type="text"]{
    padding: 7px;
    width: 200px;
    border-radius: 2px;
    border: none;
    outline: none;
}

.search-form-area button{
    cursor: pointer;
    background-color: $primary-color;
    border: none;
    padding: 8px;
    border-radius: 0 5px 5px 0;
    color: $font-secondary;
}

.search-form-area form{
    display: flex;
    justify-content: center;
    align-items: center;
}